*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    overflow-x:hidden;

}
h1{
    font-family: 'Dancing Script', cursive;
}
.carousel-item image
{
    width:100;
    height:100vh;

}

.card-body img{
    min-width: 50%;
    max-height:200px;

}


.footer-col img{
    width:100px;
    height: auto;
}
. footer {
    position: absolute;
    top: 10px;
    left: 50;
}
.fei{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}