<style>
  /* Reset default styles */
  body {
    margin: 0;
    padding: 0;
  }

  
  /* Navigation bar styles */
  .navbar {
    background-color: darkgreen;
    overflow: hidden;
    display: flex;
    justify-content: right;
  }


  .navbar a {
    display: block;
    color: white;
    text-align: left; /* Adjusted to left alignment */
    padding: 40px 20px;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px; /* Adds a margin to move the text to the left */
  }

  
  
  .navbar a:hover {
    background-color: #111;
  }


  .title {
    color: white;
    margin: 40px 0 0 50px; /* Adds 30 pixels of margin to the top and 20 pixels of margin to the left */
    text-align: left;
    width: 100%; /* or any width less than the available space */
    display: inline-block; /* or display: inline; */
  }


  img {
    width: 1833px; /* Adjust the value to the desired width */
    height: 950px; /* Automatically adjust the height while maintaining the aspect ratio */
}


body {
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -20px; /* Apply negative margin to move the container up */
}

.text-column {
  flex: 1;
  padding: 20px;
}


.centered-text {
  text-align: center;
}


.resort-description {
  margin-bottom: 10px;
}


.image-column {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
}

.book-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}





  
</style>